version: '3'
services:
  demo-app:
    build: .
    volumes:
      - .:/src/app
      - venv-data:/src/.venv
    ports:
      - "8000:8000"
    environment:
      - WATCHFILES_FORCE_POLLING=true
      - PYTHONPATH=/src/app
volumes:
  venv-data: